<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Musicrew Login</title>
	<link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
	<div class="login-page">
		<img th:src="@{images/loginpage.jpg}">

		<div id="login-page-rightside">
			<img th:src="@{images/MusicrewLogo.png}">
			<div>
				<form id="form" th:action="@{/login}" th:object="${login}" method="post">
					<label class="label-username">username</label>
					<input class="text-box" type="text" th:field="*{username}" />

					<label class="label-password">password</label>
					<input class="text-box" type="password" th:field="*{password}"/><br>

					<input class="remember-me" type="checkbox">
					<label class="remember-me">remember me</label>

					<label class="forget-password">パスワードを忘れた方はこちら</label><br>

					<input type="submit" value="login" id="login-button">
					<br>
				</form>

				<form th:action="@{/memberRegistration}" id="form">
					<input type="submit" value="sign up" id="signup-button">
				</form>
			</div>
		</div>
	</div>

</body>

</html>