<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>profile</title>
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/profile.css}">
</head>

<body>
	<header>
		<img th:src="@{images/MusicrewLogo.png}" id="header-logo">

		<nav id="header-buttons">
			<ul id="index">
				<li><a th:href="@{/top}" method="post">top</a></li>
				<li><a th:href="@{/search}" method="post">search</a></li>
				<li><a th:href="@{/profile}" method="post">profile</a></li>
				<li><a th:href="@{/messages}" method="post">messages</a></li>
				<li><a th:href="@{/settings}" method="post">settings</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<div id="main-page">
			<div id="left-side">
				<p class="lightpink-row" th:text="${user.username}">name</p>
				<p class="darkpink-row">instrument</p>
				<p class="lightpink-row">gender</p>
				<p class="darkpink-row">genre</p>
				<p class="lightpink-row">hometown</p>
				<p class="darkpink-row">pro or amateur</p>
			</div>
			<div id="righ-side">
				<div id="pics"></div>
				<div id="middle-section"></div>
				<div id="profile-message"></div>
			</div>
		</div>

	</main>

</body>

</html>